
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: url("./assets/background\ 5.jpg");
    background-position: center;
    background-size: cover;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
}


header .navbar {
    display: flex;
    align-items: center;max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}


.navbar .menu-links {
    display: flex;
    gap: 40px;
}


.navbar .logo {
    font-size: 2.1rem;
    font-weight: 600;
}


.navbar .logo span {
    color: #c06b3e;
}


.navbar a {
    color: #fff;
    text-decoration: none;
    transition: 0.2s ease;
}

.navbar a:hover {
    color: #c06b3e;
}

.hero-section .content {
    color: #fff;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.hero-section {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.hero-section .content h1 {
    font-size: 3rem;
    max-width: 600px;
}

.hero-section .content p {
    font-weight: 300;
    margin-top: 15px;
    max-width: 600px;
}
/* Default navigation style (for larger screens) */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Horizontal layout */
    justify-content: space-around; /* Evenly space the items */
    background-color: #333;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: block;
  }
  
  nav ul li a:hover {
    background-color: #575757;
  }
  
  /* Media query for mobile devices */
  @media (max-width: 768px) {
    nav ul {
      display: block; /* Vertical layout */
    }
  
    nav ul li {
      margin-bottom: 10px;
    }
  
    nav ul li a {
      text-align: center;
      background-color: #333;
    }
  }
  